tmp/
deploy/
build/
build-deploy/
.vs/
.idea/
bin/
obj/
*.swp
*.user
*.suo
/Source/Waterfall/packages/
GameData/Waterfall/Versioning/Waterfall.version
GameData/Waterfall/Plugins/Waterfall.dll
GameData/Waterfall/Plugins/Waterfall.pdb